{{> head }}

    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Victoria Da Silva</h1>
            <br>
            <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="col-4">
            <img src="assets/img/yo.jpg" class="img-thumbnail">
        </div>
    </div>

 {{> footer }}